# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
%pip install yfinance pandas --quiet
import pandas as pd
import yfinance as yf

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: C:\Users\Alex\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: C:\Users\Alex\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

## How to work with a Ticker object

In [7]:
symbol = 'FB'
ticker = yf.Ticker(symbol)

### Show ticker info

In [12]:
pd.Series(ticker.info).head(20)

longBusinessSummary           The index measures the performance of this Dyn...
companyOfficers                                                              []
executiveTeam                                                                []
maxAge                                                                    86400
priceHint                                                                     2
previousClose                                                           41.8118
open                                                                      41.92
dayLow                                                                  41.8118
dayHigh                                                                 41.8118
regularMarketPreviousClose                                              41.8118
regularMarketOpen                                                         41.92
regularMarketDayLow                                                     41.8118
regularMarketDayHigh                                                    41.8118
volume                                                                       92
regularMarketVolume                                                          92
averageVolume                                                              4770
averageVolume10days                                                        1480
averageDailyVolume10Day                                                    1480
bid                                                                       41.76
ask                                                                       41.84
dtype: object

### Get market data

In [16]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False) # 1-minute data for last 5 days
data

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Datetime,,,,,,,,
2025-11-03 09:58:00-05:00,41.939999,41.940102,41.931000,41.940102,0,0.0,0.0,0.0
2025-11-03 10:25:00-05:00,41.919998,41.970001,41.910000,41.970001,3848,0.0,0.0,0.0
2025-11-03 11:39:00-05:00,42.029999,42.029999,42.029999,42.029999,672,0.0,0.0,0.0
2025-11-03 11:53:00-05:00,42.029999,42.029999,41.934898,41.934898,0,0.0,0.0,0.0
2025-11-04 15:40:00-05:00,41.980000,41.980000,41.935001,41.980000,870,0.0,0.0,0.0
2025-11-04 15:41:00-05:00,41.935001,41.935001,41.918301,41.918301,0,0.0,0.0,0.0
2025-11-05 09:54:00-05:00,41.919998,41.919998,41.919998,41.919998,385,0.0,0.0,0.0
2025-11-05 10:35:00-05:00,41.930000,41.930000,41.930000,41.930000,229,0.0,0.0,0.0
2025-11-05 10:49:00-05:00,41.919998,41.919998,41.919998,41.919998,114,0.0,0.0,0.0
2025-11-05 12:42:00-05:00,42.020000,42.020000,41.811798,41.811798,0,0.0,0.0,0.0
2025-11-07 09:46:00-05:00,41.811798,41.811798,41.811798,41.811798,0,0.0,0.0,0.0

### View company actions

In [17]:
# show actions (dividends, splits)
ticker.actions

                           Dividends  Stock Splits  Capital Gains
Date
2025-09-24 00:00:00-04:00      0.145           0.0            0.0

In [18]:
ticker.dividends

Date
2025-09-24 00:00:00-04:00    0.145
Name: Dividends, dtype: float64

In [19]:
ticker.splits

Series([], Name: Stock Splits, dtype: float64)

### Annual and Quarterly Financial Statement Summary

In [20]:
ticker.financials

Empty DataFrame
Columns: []
Index: []

In [21]:
ticker.quarterly_financials

Empty DataFrame
Columns: []
Index: []

### Annual and Quarterly Balance Sheet

In [22]:
ticker.balance_sheet

Empty DataFrame
Columns: []
Index: []

In [23]:
ticker.quarterly_balance_sheet

Empty DataFrame
Columns: []
Index: []

### Annual and Quarterly Cashflow Statement

In [24]:
ticker.cashflow

Empty DataFrame
Columns: []
Index: []

In [25]:
ticker.quarterly_cashflow

Empty DataFrame
Columns: []
Index: []

In [26]:
ticker.earnings

C:\Users\Alex\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\yfinance\scrapers\fundamentals.py:36: DeprecationWarning: 'Ticker.earnings' is deprecated as not available via API. Look for "Net Income" in Ticker.income_stmt.
  warnings.warn("'Ticker.earnings' is deprecated as not available via API. Look for \"Net Income\" in Ticker.income_stmt.", DeprecationWarning)

In [27]:
ticker.quarterly_earnings

### Sustainability: Environmental, Social and Governance (ESG)

In [28]:
ticker.sustainability

HTTP Error 404: {"quoteSummary":{"result":null,"error":{"code":"Not Found","description":"No fundamentals data found for symbol: FB"}}}

Empty DataFrame
Columns: []
Index: []

### Analyst Recommendations

In [18]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 511 entries, 2012-06-22 07:56:00 to 2020-10-30 17:14:48
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Firm        511 non-null    object
 1   To Grade    511 non-null    object
 2   From Grade  511 non-null    object
 3   Action      511 non-null    object
dtypes: object(4)
memory usage: 20.0+ KB

In [19]:
ticker.recommendations.tail(10)

                                  Firm    To Grade From Grade Action
Date
2020-10-20 12:31:45      Credit Suisse  Outperform              main
2020-10-26 08:50:44            KeyBanc  Overweight              main
2020-10-28 16:47:21          JP Morgan  Overweight              main
2020-10-30 11:53:22      Raymond James  Strong Buy              main
2020-10-30 12:45:43      Credit Suisse  Outperform              main
2020-10-30 12:50:35     Morgan Stanley  Overweight              main
2020-10-30 15:15:15  Canaccord Genuity         Buy              main
2020-10-30 17:03:14             Mizuho         Buy              main
2020-10-30 17:06:53        Wells Fargo  Overweight              main
2020-10-30 17:14:48  Truist Securities         Buy              main

### Upcoming Events

In [20]:
ticker.calendar

                                    0                    1
Earnings Date     2021-01-27 00:00:00  2021-02-01 00:00:00
Earnings Average                 3.19                 3.19
Earnings Low                     2.67                 2.67
Earnings High                    3.63                 3.63
Revenue Average           26288700000          26288700000
Revenue Low               25412000000          25412000000
Revenue High              26993000000          26993000000

### Option Expiration Dates

In [29]:
ticker.options

('2026-02-21',)

In [30]:
expiration = ticker.options[0]

In [31]:
options = ticker.option_chain(expiration)

In [32]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     0 non-null      float64
 1   lastTradeDate      0 non-null      datetime64[ns, UTC]
 2   strike             0 non-null      float64
 3   lastPrice          0 non-null      float64
 4   bid                0 non-null      float64
 5   ask                0 non-null      float64
 6   change             0 non-null      float64
 7   percentChange      0 non-null      float64
 8   volume             0 non-null      float64
 9   openInterest       0 non-null      float64
 10  impliedVolatility  0 non-null      float64
 11  inTheMoney         0 non-null      float64
 12  contractSize       0 non-null      float64
 13  currency           0 non-null      float64
dtypes: datetime64[ns, UTC](1), float64(13)
memory usage: 132.0 bytes

In [33]:
options.calls.head()

Empty DataFrame
Columns: [contractSymbol, lastTradeDate, strike, lastPrice, bid, ask, change, percentChange, volume, openInterest, impliedVolatility, inTheMoney, contractSize, currency]
Index: []

In [34]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     0 non-null      float64
 1   lastTradeDate      0 non-null      datetime64[ns, UTC]
 2   strike             0 non-null      float64
 3   lastPrice          0 non-null      float64
 4   bid                0 non-null      float64
 5   ask                0 non-null      float64
 6   change             0 non-null      float64
 7   percentChange      0 non-null      float64
 8   volume             0 non-null      float64
 9   openInterest       0 non-null      float64
 10  impliedVolatility  0 non-null      float64
 11  inTheMoney         0 non-null      float64
 12  contractSize       0 non-null      float64
 13  currency           0 non-null      float64
dtypes: datetime64[ns, UTC](1), float64(13)
memory usage: 132.0 bytes

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [35]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [36]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msft.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [37]:
tickers = yf.Tickers('msft aapl goog')

In [38]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [39]:
pd.Series(tickers.tickers['MSFT'].info)

address1                      One Microsoft Way
city                                    Redmond
state                                        WA
zip                                  98052-6399
country                           United States
                                    ...
earningsCallTimestampStart           1761773400
earningsCallTimestampEnd             1761773400
isEarningsDateEstimate                     True
displayName                           Microsoft
trailingPegRatio                         2.2593
Length: 178, dtype: object

In [40]:
tickers.tickers['AAPL'].history(period="1mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-10-07 00:00:00-04:00,256.809998,257.399994,255.429993,256.480011,31955800,0.0,0.0
2025-10-08 00:00:00-04:00,256.519989,258.519989,256.109985,258.059998,36496900,0.0,0.0
2025-10-09 00:00:00-04:00,257.809998,258.000000,253.139999,254.039993,38322000,0.0,0.0
2025-10-10 00:00:00-04:00,254.940002,256.380005,244.000000,245.270004,61999100,0.0,0.0
2025-10-13 00:00:00-04:00,249.380005,249.690002,245.559998,247.660004,38142900,0.0,0.0
2025-10-14 00:00:00-04:00,246.600006,248.850006,244.699997,247.770004,35478000,0.0,0.0
2025-10-15 00:00:00-04:00,249.490005,251.820007,247.470001,249.339996,33893600,0.0,0.0
2025-10-16 00:00:00-04:00,248.250000,249.039993,245.130005,247.449997,39777000,0.0,0.0
2025-10-17 00:00:00-04:00,248.020004,253.380005,247.270004,252.289993,49147000,0.0,0.0
2025-10-20 00:00:00-04:00,255.889999,264.380005,255.630005,262.239990,90483000,0.0,0.0
2025-10-21 00:00:00-04:00,261.880005,265.290009,261.829987,262.769989,46695900,0.0,0.0
2025-10-22 00:00:00-04:00,262.649994,262.850006,255.429993,258.450012,45015300,0.0,0.0
2025-10-23 00:00:00-04:00,259.940002,260.619995,258.010010,259.579987,32754900,0.0,0.0
2025-10-24 00:00:00-04:00,261.190002,264.130005,259.179993,262.820007,38253700,0.0,0.0
2025-10-27 00:00:00-04:00,264.880005,269.119995,264.649994,268.809998,44888200,0.0,0.0
2025-10-28 00:00:00-04:00,268.989990,269.890015,268.149994,269.000000,41534800,0.0,0.0
2025-10-29 00:00:00-04:00,269.279999,271.410004,267.109985,269.700012,51086700,0.0,0.0
2025-10-30 00:00:00-04:00,271.989990,274.140015,268.480011,271.399994,69886500,0.0,0.0
2025-10-31 00:00:00-04:00,276.989990,277.320007,269.160004,270.369995,86167100,0.0,0.0
2025-11-03 00:00:00-05:00,270.420013,270.850006,266.250000,269.049988,50194600,0.0,0.0
2025-11-04 00:00:00-05:00,268.329987,271.489990,267.619995,270.040009,49274800,0.0,0.0
2025-11-07 00:00:00-05:00,269.795013,272.290009,267.095001,267.679993,31220859,0.0,0.0

In [41]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  3 of 3 completed

Price                   Close  Dividends        High         Low        Open  \
Date       Ticker
2025-10-07 AAPL    256.480011        0.0  257.399994  255.429993  256.809998
           GOOG    247.130005        0.0  251.550003  246.809998  248.929993
           MSFT    523.979980        0.0  529.799988  521.440002  528.289978
2025-10-08 AAPL    258.059998        0.0  258.519989  256.109985  256.519989
           GOOG    245.460007        0.0  247.259995  245.089996  246.199997
...                       ...        ...         ...         ...         ...
2025-11-04 GOOG    278.059998        0.0  281.834015  276.864990  277.065002
           MSFT    514.330017        0.0  515.549988  507.839996  511.760010
2025-11-07 AAPL    267.660095        0.0  272.290009  267.095001  269.795013
           GOOG    279.575012        0.0  284.500000  275.739990  284.179993
           MSFT    495.670013        0.0  499.377014  493.250000  496.679993

Price              Stock Splits    Volume
Date       Ticker
2025-10-07 AAPL             0.0  31955800
           GOOG             0.0  13811200
           MSFT             0.0  14615200
2025-10-08 AAPL             0.0  36496900
           GOOG             0.0  14136500
...                         ...       ...
2025-11-04 GOOG             0.0  18123700
           MSFT             0.0  20958700
2025-11-07 AAPL             0.0  31222284
           GOOG             0.0  15485603
           MSFT             0.0  13973234

[66 rows x 7 columns]

In [42]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AAPL)   2 non-null      float64
 1   (Close, SPY)    2 non-null      float64
 2   (High, AAPL)    2 non-null      float64
 3   (High, SPY)     2 non-null      float64
 4   (Low, AAPL)     2 non-null      float64
 5   (Low, SPY)      2 non-null      float64
 6   (Open, AAPL)    2 non-null      float64
 7   (Open, SPY)     2 non-null      float64
 8   (Volume, AAPL)  2 non-null      int64
 9   (Volume, SPY)   2 non-null      int64
dtypes: float64(8), int64(2)
memory usage: 176.0 bytes

In [44]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4441 entries, 2025-11-03 09:00:00+00:00 to 2025-11-07 20:00:00+00:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (SPY, Open)     4381 non-null   float64
 1   (SPY, High)     4381 non-null   float64
 2   (SPY, Low)      4381 non-null   float64
 3   (SPY, Close)    4381 non-null   float64
 4   (SPY, Volume)   4381 non-null   float64
 5   (AAPL, Open)    4258 non-null   float64
 6   (AAPL, High)    4258 non-null   float64
 7   (AAPL, Low)     4258 non-null   float64
 8   (AAPL, Close)   4258 non-null   float64
 9   (AAPL, Volume)  4258 non-null   float64
 10  (MSFT, Open)    4265 non-null   float64
 11  (MSFT, High)    4265 non-null   float64
 12  (MSFT, Low)     4265 non-null   float64
 13  (MSFT, Close)   4265 non-null   float64
 14  (MSFT, Volume)  4265 non-null   float64
dtypes: float64(15)
memory usage: 555.1 KB

In [46]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

# download dataframe
data = pdr.get_data_yahoo('SPY',
                          start='2017-01-01',
                          end='2019-04-30',
                          auto_adjust=False)

AttributeError: module 'yfinance' has no attribute 'pdr_override'

In [ ]:
# auto_adjust = True
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,283.410553,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,282.781616,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,282.607452,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,283.923462,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,284.368561,57197700

In [ ]:
# auto_adjust = False
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,283.410553,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,282.781616,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,282.607452,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,283.923462,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,284.368561,57197700